langchain-community
python-dotenv
streamlit
pyperclip
PyPDF2
pypdf
langchain
requests
networkx
numpy
scikit-learn
sentence-transformers
azure-search-documents
openai
azure-identity
azure-mgmt-resource
azure-storage-blob
azure-keyvault-secrets
azure-keyvault-keys
azure-servicebus
azure-eventhub
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-storage
azure-cosmos
azure-storage-file-share
azure-monitor-opentelemetry
openpyxl
pandas
matplotlib
